<div class="panel panel-primary">
  <div class="panel-heading">
      <!-- Con el '?' (product?.name) hacemos que no saque un error por consola -->
      {{ pageTitle + ' - ' + product?.name }}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th>Code</th>
        <th>Avaliable</th>
        <th>Price</th>
        <th>5 Star Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <!------------------------------------------------------------------>
          <!-- Dos maneras para asignar a src la url de la imagen           -->
          <img
            [src]="product?.imageUrl"
            [title]="product?.name"            
            alt="image">
          <!------------------------------------------------------------------>
        </td>
        <td>{{product?.name}}</td>
        <td>{{product?.code | convertToSpaces:'-'}}</td>
        <td>{{product?.releaseDate}}</td>
        <td>{{product?.price | currency:'EUR':true:'1.2-2'}}</td>
        <td>
          <app-star [rating]="product?.rating">
          </app-star>
        </td>
      </tr> 
    </tbody> 
  </table>
</div>

<a (click) = "back()">Volver</a>